@import url('../globals.css');

.aboutContainer {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--white);
    display: flex;
    align-items: flex-start;
    padding-top: 6rem;
    position: relative;
}
.about {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.aboutSectionTitle {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.aboutContent p {
    font-size: var(--m-font-size);
    margin: 0;
}
.skills {
    font-size: var(--xl-font-size);
    margin: 0 auto 2rem auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.experienceBtn {
    background: none;
    border: .1rem solid var(--white);
    border-radius: .3rem;
    color: var(--white);
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.experienceBtn:hover {
    background: var(--white);
    color: var(--base-color);
}