@import url('../globals.css');

.aboutContainer {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--white);
    display: flex;
    align-items: flex-start;
    padding-top: 6rem;
    position: relative;
}
.about {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.aboutSectionTitle {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.aboutContent p {
    font-size: var(--m-font-size);
    margin: 0;
}
.skills {
    font-size: var(--xl-font-size);
    margin: 0 auto 2rem auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.experienceBtn {
    background: none;
    border: .1rem solid var(--white);
    border-radius: .3rem;
    color: var(--white);
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.experienceBtn:hover {
    background: var(--white);
    color: var(--base-color);
}


@media screen and (min-width: 10em) and (max-width: 48em) {
    .aboutContainer {
        padding: 4rem 0;
    }
    .about {
        width: 95%;
    }
    .aboutSectionTitle {
        font-size: .9rem;
        margin-bottom: 1rem;
    }
    .aboutContent p {
        font-size: var(--s-font-size);
    }
    .skills {
        font-size: var(--m-font-size);
        width: 60%;
        justify-content: space-between;
    }
    .experienceBtn {
        font-size: .9rem;
        padding: .8rem;
    }
}

@media screen and (min-width: 48em) and (max-width: 1024px) and (orientation: landscape) {
    .aboutContainer {
        padding: 4rem 0;
    }
    .about {
        width: 95%;
    }
}

@media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
    .aboutContent p {
        font-size: 3rem;
    }
    .skills {
        font-size: 4rem;
        margin: 2rem auto 4rem auto;
    }
    .experienceBtn {
        font-size: 2rem;
        padding: 2rem;
    }
    .about {
        width: 80%;
    }
    .aboutSectionTitle {
        font-size: 1.2rem;
    }
}