@import url('../globals.css');

.footer {
    background-color: var(--base-color);
    color: var(--white);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media screen and (min-width: 10em) and (max-width: 48em) {
    .footer {
        padding: 1rem 0;
    }
}