@import url('../globals.css');

.homeContainer {
  background-color: var(--base-color);
  min-height: 100vh;
  width: 100%;
  color: var(--white);
  z-index: 1;
  text-align: center;
  position: relative;
}
.homeContent {
  width: 55%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 100vh
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: .6rem;
}
.photoContainer {
  position: relative;
  margin-top: -4rem;
}
.title {
  font-size: 7rem;
  z-index: 2;
  font-weight: 500;
}
.author {
  width: 320px;
  height: 390px;
}
.intro {
  width: 27rem;
  text-align: center;
  font-size: var(--m-font-size);
}


@media screen and (min-width: 10em) and (max-width: 48em) {
  .homeContainer {
    height: 190vh;
  }
  .intro {
    width: 30rem;
  }
}