@import url('../globals.css');

.testimonialsSection {
    min-height: 100vh;
    background: var(--base-color);
    padding-top: 6rem;
    color: var(--white);
    text-align: center;
    position: relative;
}
.testimonialItem {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.recommendation {
    flex: 60%;
}
.testimonialsSectionTitle {
    font-size: 1rem;
    margin-bottom: 2rem;
}
.sectionTitle {
    flex: 40%;
    padding: 0;
    margin: 0;
    font-size: var(--l-font-size);
    text-align: left;
}
.text {
    margin: 0;
    text-align: left;
    font-size: var(--s-font-size);
}
.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .9rem;
}

.recommendationDetails {
    display: flex;
}

.recommendationImg {
    margin-right: 1rem;
}

.rPhoto {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}


@media screen and (min-width: 10em) and (max-width: 48em) {
    .testimonialsSection {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .testimonialItem {
        width: 90%;
    }
    .sectionTitle {
        display: none;
    }
}

@media screen and (min-width: 48em) and (max-width: 1024px) {
    .testimonialsSection {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .testimonialItem {
        width: 80%;
    }
    .testimonialsSection {
        padding-bottom: 4rem;
    }
    .sectionTitle {
        font-size: var(--m-font-size);
    }
}